@import url("fonts.css");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import url("reset.css");
/* #region nav */
.header {
  width: 100%;
  background-color: rgb(234, 234, 146);
}

.logo {
  background-color: #13efbf;
  width: 100px;
  height: 50px;
  padding: 5px;
}

.nav__container {
  display: inline-block;
  width: 1300px;
  text-align: right;
}

.nav__container-list {
  text-align: center;
  height: 50px;
  padding-top: 10px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 5px;
}

.nav__container-item {
  height: 25px;
  margin: 5px 15px;
  padding: 5px 10px;
  box-sizing: border-box;
  display: inline-block;
  background-color: #fff;
  color: darkgreen;
  border-radius: 10px;
}

.nav__container-link {
  text-align: center;
  vertical-align: middle;
  padding-top: 5px;
  width: 300px;
  letter-spacing: 2px;
}
/* #endregion nav */
/* #region insta */
.follow-instagram {
  display: inline-block;
  background-color: rgba(30, 40, 50, 0.05);
  width: 100%;
}

.follow-instagram__block {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 auto;
  min-width: 1320px;
}

.follow-instagram__title {
  padding-top: 100px;
  width: 100%;
}

.follow-instagram__title-text {
  text-align: center;
  color: #000;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 0;
  letter-spacing: 0;
  padding-bottom: 60px;
  vertical-align: middle;
}

.follow-instagram__links {
  display: inline-block;
  box-sizing: border-box;
  padding-inline: 100px;
}

.follow-instagram__links-link {
  display: inline-block;
  width: 200px;
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 0;
}
/* #endregion insta */
/* #region previous-lesson */

.main__section {
  max-width: 1070px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px;
  background-color: #f3dac0;
}

.main__section-title,
.furniture,
.footer__container-title {
  margin-top: 0;
  text-align: left;
  color: #2b2929;
  font-size: 40px;
  font-style: normal;
  font-family: inherit;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 48px;
  text-transform: uppercase;
}

.main__section-img {
  width: 1070px;
  border-radius: 8px;
  height: auto;
  margin: 0;
  padding: 40px 40px;
}

.main__section-description,
.main__section-description-list {
  text-align: left;
  color: inherit;
  font-family: inherit;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0;
  font-size: 16px;
  margin-bottom: 0;
  padding: 5px;
}

.main__section-description-title-2 {
  min-width: 1070px;
  padding: 40px 0 30px;
  width: 100%;
  text-align: left;
  color: #2b2929;
  font-size: 20px;
  font-style: normal;
  font-family: inherit;
  text-transform: none;
  font-weight: 400;
  line-height: 28px;
}

.main__section-description-item {
  background-image: url("../images/mark.png");
  background-repeat: no-repeat;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: black;
  line-height: 30px;
  text-decoration: underline;
  text-decoration-color: rgb(157, 128, 92);
  text-decoration-style: dashed;
  margin-bottom: 20px;
  padding-left: 47px;
  vertical-align: top;
  min-height: 27px;
}

[class="main__section-description conclusion"] {
  text-align: justify;
  text-decoration: underline;
  text-decoration-color: rgb(16, 115, 115);
  text-decoration-style: wavy;
  margin-top: 40px;
}
/* #endregion previous-lesson */
/* #region quality */
.quality {
  padding-top: 70px;
  padding-bottom: 70px;
  width: 100%;
  max-width: 1290px;
  margin: 70px auto;
  box-sizing: border-box;
  margin: 0 auto;
}

.quality__title {
  text-align: center;
  color: #2b2929;
  font-size: 40px;
  font-style: normal;
  font-family: inherit;
  font-weight: 400;
  padding-bottom: 40px;
}

.quality__blocks {
  box-sizing: border-box;
  width: 100%;
}

.quality__img {
  min-width: 170px;
  margin: 0 auto;
  text-align: center;
}

.quality__block {
  vertical-align: top;
  padding-top: 0px;
  display: inline-block;
  box-sizing: border-box;
  width: 300px;
  text-align: center;
  padding-bottom: 20px;
  margin: 5px;
  min-height: 525px;
}

.block-1 {
  border: 5px solid burlywood;
  border-right: none;
  border-top: none;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    352deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(163, 86, 120, 1) 55%
  );
}

.block-1:hover {
  border: 5px solid transparent;
}

.block-2 {
  border-bottom: 13px solid gray;
  border-top: 13px dashed #13efbf;
  border-left: 13px dotted #000;
  border-right: 13px double #ab2f2f;
}

.block-2:hover {
  border-bottom: 13px solid transparent;
  border-top: 13px dashed transparent;
  border-left: 13px dotted transparent;
  border-right: 13px double transparent;
}

.block-3 {
  background-color: rgb(230, 234, 213);
  outline: 5px dashed rgb(81, 207, 49);
  outline-offset: 5px;
  border-radius: 20%;
}

.block-3:hover {
  outline: 10px dashed transparent;
  outline-offset: 3px;
}

.block-4 {
  background-image: url("../images/bg.png");
  border-radius: 10px;
  color: #fff;
}

.quality__text.inline {
  display: inline;
  border: 2px solid #083a2f;
  border-radius: 3px;
}

.quality__circle {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background-color: rgb(226, 240, 226);
  border-radius: 50%;
  text-align: center;
}

.quality__title-blocks {
  text-align: center;
  margin: 0 auto;
  color: inherit;
  font-size: 26px;
  text-align: center;
  font-family: inherit;
  font-weight: 400;
  line-height: 34px;
  text-transform: none;
  padding-bottom: 20px;
  width: 100%;
}

.quality__text {
  align-items: center;
  width: 100%;
  text-align: center;
  color: inherit;
  font-size: 16px;
  font-family: inherit;
  font-weight: 400;
  line-height: 30px;
}

.bestcourse {
  margin: 60px auto;
  width: 900px;
  padding: 50px;
  border-radius: 40px;
  border: 3px double #000808cc;
  box-shadow: inset 0 0 35px 35px #000c0ccc, 0 0 35px 30px #000c0ccc;
}

.bestcourse__title {
  margin: 0 auto;
  width: 800px;
  font-size: 20px;
  color: #edf518cc;
  background-color: #b7be7f;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  padding: 15px;
  border-radius: 30px;
  box-shadow: inset 0 0 70px 30px #343429cc, 0 0 50px 25px #edf518cc;
  letter-spacing: 5px;
  text-shadow: 0 10px 5px #000;
}

.bestcourse__title:hover {
  margin-top: 2px;
  box-shadow: 0 10px 5px #000;
}

.overflow1 {
  width: 300px;
  padding: 30px;
  height: 10px;
  background-color: #0c3f6b;
  overflow: auto;
  margin-bottom: 10px;
}

.overflow2 {
  padding: 30px;
  height: 10px;
  background-color: #0c3f6b;
  overflow: visible;
  margin-bottom: 30px;
}

.overflow3 {
  width: 500px;
  padding: 30px;
  height: 10px;
  background-color: #0c3f6b;
  overflow: scroll;
  margin-bottom: 10px;
}
/* #endregion quality */
/* #region colections */
.colection {
  width: 100%;
  background:
  url('../images/bg_flower2.png') no-repeat 0 85% / 150px,
  url('../images/bg_flower1.png') no-repeat 100% 45% / 150px, #f5f9f9;
  margin-bottom: 60px;
}

.colection__sections {
  max-width: 1170px;
  margin: 30px auto;
  box-sizing: border-box;
  height: auto;
}

.colections__block-1 {
  box-sizing: border-box;
  display: inline-block;
  padding-top: 0;
  margin-top: 54px;
  text-align: left;
  max-width: 686px;
  padding-right: 60px;
  margin-right: 30px;
  vertical-align: middle;
}

.colections__title {
  text-align: left;
  margin: 5px;
  padding: 7px;
  color: #000;
  font-size: 74px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 55px;
  margin-bottom: 52px;
}

.colections__text {
  text-align: left;
  margin: 5px;
  padding: 7px;
  color: #000;
  font-size: 25px;
  font-style: normal;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 55px;
  margin-bottom: 67px;
  text-transform: capitalize;
  letter-spacing: 0;
}

.colections__button {
  display: inline-block;
  max-width: 223px;
  background-color: #000;
  background-position: 25px 18px;
  text-align: left;
  color: #fff;
  background-image: url("../images/icon_bag.png");
  background-repeat: no-repeat;
  padding: 19px 26px 19px 64px;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: normal;
  vertical-align: middle;
  text-transform: capitalize;
}

.colections__img {
  box-sizing: border-box;
  display: inline-block;
  text-align: right;
  vertical-align: top;
  border: 2px solid #b6b7b7;
  min-height: 542px;
  border-radius: 160px 0;
  min-width: 320px;
}

.colections-image {
  border-radius: 160px 0;
  margin: -20px 18px 20px -18px;
  min-width: 320px;
  min-height: 542px;
}
/* #endregion colections */
/* #region explore */
.explore {
  background-image: url("../images/bg_explore.jpeg");
  width: 100%;
  height: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.explore__blocks {
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  background-image: url("../images/bg_explore.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 515px;
}

.explore__blocks-left {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  max-width: 600px;
  box-sizing: border-box;
  margin: 121px 0;
  margin-bottom: 123px;
}

.explore__blocks-left-title {
  text-align: left;
  color: #fff;
  font-size: 40px;
  margin-top: 0;
  text-align: left;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 24px;
  letter-spacing: 0;
  text-transform: none;
}

.explore__blocks-left-text {
  color: #fff;
  font-size: 20px;
  margin-top: 0;
  text-align: left;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 24px;
  letter-spacing: 0;
  text-transform: none;
}

.explore__blocks-left-action {
  max-width: 217px;
  box-sizing: border-box;
  margin-bottom: 0;
  text-align: left;
  padding: 12px 20px;
  border-radius: 8px 8px 8px 8px;
  background-color: #fff;
}

.explore__blocks-left-link {
  text-align: center;
  color: #0d1216;
  font-size: 16px;
  margin-top: 0;
  text-align: left;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 0;
  letter-spacing: 0;
}

/* #endregion explore */
/* #region footer */
.footer__container-title {
}

.footer__container-contact,
.footer__container-text {
  letter-spacing: 1px;
  font-style: italic;
  font-family: inherit;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  text-shadow: -3px -2px 4px #083a2f;
}

.footer__container-text {
  color: #0c3f6b;
  text-decoration: underline;
}
/* #endregion footer */
